body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #0f1d37 !important;
}

.navbar-logo {
    height: 90px !important;
    width: auto !important;
    object-fit: contain !important;
    margin-left: -100px;
}

.navbar-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 90px;
    display: flex;
    align-items: center;
}

.navbar-text {
    color: white !important;
    font-size: 2rem;
}

.custom-nav-links .nav-link {
    color: white !important;
}

.custom-nav-links .nav-link:hover {
    color: rgb(157, 161, 161) !important;
}

.custom-nav-menu {
    position: fixed;
    top: 60px;
    right: 10px;
    width: 200px;
    background-color: #0f1d37;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    display: none;
}


@media (max-width: 768px) {
    .navbar-title {
        top: 50%; 
        left: 55%; 
        transform: translate(-50%, -50%);
        text-align: center;
        width: auto; 
        font-size: 0.5rem; 
    }

    .navbar-text {
        font-size: 1rem; 
    }

    h1 {
        font-size: 1.5rem;
    }

    .lead {
        font-size: 1rem;
    }

    .navbar-logo {
        height: 60px !important;
        margin-left: 0;
    }

    .navbar-collapse {
        position: fixed;
        top: 80px;
        right: 0;
        background-color: #0f1d37;
        width: 100%;
        z-index: 1000;
    }

    .navbar-toggler {
        position: absolute;
        right: 10px;
        top: 25px;
    }
}