<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortalIUB - Inicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css"> 
    <link rel="shortcut icon" href="/static/imagenes/favicon.ico"/> 
</head>
<body>
    <!-- Barra de Navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="/static/imagenes/iublanco.jpg" alt="Logo de la Universidad" class="navbar-logo">
            </a>
            
            <div class="navbar-title mx-auto">
                <span class="navbar-text">PortalIUB - Preguntas Frecuentes</span>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto custom-nav-links">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Registrarse</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Contenido Principal -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="text-center">Bienvenido a Portal IUB</h1>
                <p class="lead text-center">Portal IUB es la alternativa y facilidad para encontrar las dudas e inquietudes acerca de temas en la universidad.
                    Mejorando la eficiencia de respuestas inmediatas de los medios virtuales de la Institución Universitaria de Barranquilla 
                    así aportando a disminuir la saturación de los correos electronicos de las facultades administrativas y facilitando la busqueda de dudas de los estudiantes
                </p>
            </div>
        </div>
        
        <div class="row my-4">
            <div class="col-md-6">
                <img src="/static/imagenes/portal.jpeg" class="img-fluid" alt="Logo del portal">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <p class="lead">Nuestro chatbot está aquí para ayudarte con cualquier consulta que tengas. Simplemente escribe tu pregunta y obtén respuestas instantáneas.</p>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-md-12">
                <h2 class="text-center">¿Qué puedes consultar en el PortalIUB?</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Registro Académico: Consulta la informacion sobre donde encontrar horarios y cuestiones de matrícula.</li>
                    <li class="list-group-item">Proceso de Matrícula: Información sobre fechas, requisitos y procedimientos para la matrícula.</li>
                    <li class="list-group-item">Becas y Estímulos: Detalles sobre las becas disponibles y cómo aplicarlas.</li>                    
                    <li class="list-group-item">Calendarios Académicos: Accede a la informacion con fechas importantes del semestre.</li>
                    <li class="list-group-item">Información Administrativa: Consulta sobre trámites, servicios y soporte administrativo.</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Pie de Página -->
    <footer class="bg-light text-center py-4">
        <p>&copy; 2024 PortalIUB. Todos los derechos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
