<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Ayuda IUB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css"> 
    <link rel="stylesheet" href="/static/css/alert.css"> 
    <link rel="stylesheet" href="/static/css/chatbox.css"> 
    <link rel="stylesheet" href="/static/css/sidebar.css"> 
    <link rel="shortcut icon" href="/static/imagenes/favicon.ico">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Barra lateral -->
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item text-center">
                            <img src="/static/imagenes/logo.png" alt="Logo de la Universidad">
                        </li>
                    </ul>
                    <div class="sidebar-footer">
                         <!-- Botón IA -->
                         <button class="btnIA" onclick="window.location.href='/post-login';">
                            <img src="/static/imagenes/bot.png" alt="Imagen de Contactar"> Preguntar a la IA
                        </button>
                        <!-- Botón Observaciones -->
                        <button class="btnIA" onclick="window.location.href='/recomends';">
                            <img src="/static/imagenes/sugerencia.png" alt="Imagen de "> Observaciones
                        </button>
                        <!-- Botón Configuración -->
                        <button class="btnConfig" id="configMenuButton">
                            <img src="/static/imagenes/configuraciones (1).png" alt="Imagen de configuración"> Configuración
                        </button>
                        <!-- Menú desplegable -->
                        <div id="configMenu" class="dropdown-menu">
                            <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
                            <a class="dropdown-item" href="/change-password">Cambiar Contraseña</a>
                        </div>
                    </div>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="chatbox">
                    <div class="chatbox-header d-flex justify-content-between align-items-center">
                        <button class="btn btn-light d-block d-md-none" id="sidebarToggle">
                            <img src="/static/imagenes/menu.png" alt="Abrir barra lateral">
                        </button>
                        <div class="social-buttons d-flex">
                            <button onclick="window.open('https://www.facebook.com/UniBarranquilla?locale=es_LA', '_blank');" class="btnFacebook">
                                <img src="/static/imagenes/facebook.png" alt="Imagen de facebook">
                            </button>
                            <button onclick="window.open('https://www.instagram.com/unibarranquilla_/?fbclid=IwZXh0bgNhZW0CMTAAAR2wYVZOblGV7EtZ1G7AMjhkJYHKCAwWZIIY4VTtC0YLSneFxcgMOkV-WF8_aem_pkJSufIf7keE4zoeOSODAA', '_blank');" class="btnInstagram">
                                <img src="/static/imagenes/social.png" alt="Imagen de Instagram">
                            </button>
                            <button onclick="window.open('https://www.unibarranquilla.edu.co/', '_blank');" class="btnSitio">
                                <img src="/static/imagenes/sitio-web.png" alt="Imagen de sitio-web">
                            </button>
                        </div>
                        <div class="title">Portal de Ayuda IUB</div>
                        <div class="usage-button">
                            <button onclick="showAlert();" class="btnUsage" id="btnUsage">
                                <img src="/static/imagenes/preguntas-y-respuestas.png" alt="Imagen de Uso">
                            </button>
                        </div>
                    </div>
                    <div class="chatbox-content">
                        <div id="messages"></div>
                        <div id="placeholder">
                            <img src="/static/imagenes/file.png" alt="Imagen de bienvenida" id="welcome-image">
                            <p id="welcome-text">¡Bienvenido/a al Asistente Virtual de la IUB!</p>
                            <p>Estoy aquí para ayudarte con preguntas sobre admisiones, programas académicos, matrícula, becas y más. Escribe tu pregunta y obtén la información que necesitas.</p>
                        </div>
                    </div>
                    <form id="chat-form">
                        <input type="text" id="messageInput" placeholder="Escribe aquí..." required>
                        <button type="submit">
                            <img src="/static/imagenes/enviar.png" alt="Enviar">
                        </button>
                    </form>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/js/alert.js"></script>
    <script src="/static/js/chatform.js"></script>
    <script src="/static/js/registerform.js"></script>
    <script src="/static/js/sidebar-config.js"></script>
</body>
</html>
